@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dubai<br />
    United Arab Emirate.<br />
    <abbr title="Phone">P:</abbr>
    +971523358001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:akin.akinremi@gmail.com">akin.akinremi@gmail.com</a><br />
</address>